body{
  background-color: #e6e6e6;
}

label{
  font-size: 1.2rem;
  font-family: 'Roboto Condensed', sans-serif;
}

h3{
  text-align: center;
  font-size: 2.1rem;
}

.img-fluid{
  border-radius: 0.7rem;
  height: 59rem;
}

.btn_submit{
  background-color: #33ffbb;
  border-color: green;
  transition: 0.5s all;
}

.btn_submit:hover{
  background-color: #00cc88;
  transform: scale(1.1);
}
