body{
  overflow-x: hidden;
}

.navbar{
  background: linear-gradient(to left, #800080, #ffc0cb);
  font-family: 'Playfair Display', serif;
  position: relative;
}

/*#separator{
  text-align: center;
  margin: auto;
  width: 60rem;
}*/

.navbar-brand{
  padding-left: 5rem;
  padding-right: 5rem;
  font-size: 1.31rem;
}

.nav-link{
  color: black;
  font-size: 1.25rem;
}

.nav-link:focus{color:black;}

.nav-link:hover{
  color: black;
}

.nav > li{
  padding-left: 3.3rem;
  padding-right: 3.3rem;
}

#main_search{
  width: 17rem;
  font-family:sans-serif;
}

#search_btn{
  width: 6rem;
  color: black;
  background-color: #ff794d;
  font-size: 1.15rem;
}

.navbar-toggler-icon{
  transition: all 0.4s;
}

.navbar-toggler-icon:hover{
  transform: scale(1.285);
}

#offcanvasLightNavbar{
  width: 15rem;
  border-radius: 0.85rem;
  background: linear-gradient(to left, #f0ddf0 5%, #ab63ab 100%);
  font-size: 1.3rem;
  font-family: 'Alkalami', serif;
  overflow: hidden;
  transition: .55s all;
  text-align: center;
  opacity: 0.97;
}

.offcanvas-title{
  color: black;
  font-size: 1.6rem;
  font-family: 'Alkalami', serif;
}

#menu_txt{
  font-size: 1.40rem;
  font-style: italic;
}

#menu_txt:hover{
text-shadow: 0.313rem 0.313rem 0.5rem #b300b3;
}

hr{
  height: 0.14rem;
  background-color: black;
}

#right_sidebar{
  position: relative;
  width: 38vh;
  background-color: grey;
}

.heading{
  font-family: 'Merriweather', serif;
  font-weight: 500;
  text-align: center;
}

.card{
  width: 13rem;
}

.card-body{
  text-align: center;
}

.btn_addtocart{
  color: white;
  background-color: black;
}

.btn_addtocart:hover{
  color: white;
  background-color: black;
}

.card-img-top{
  width: 11.5rem;
  height: 9rem;
  object-fit: cover;
}
