.products{
  margin-top: 40px;
  margin-left: 40px;
  height: 1300px;
  width: 1515px;
}

.prod_container{
  float: left;
  margin-right: 200px;
  margin-left: 120px;
}

.prod_button{
  border-radius: 10px;
  transition: all .24s linear;
}

.prod_button:hover{
  transform: scale(1.065);
  cursor: pointer;
}

.prod_text{
  font-size: 22px;
  margin-top: 60px;
  font-family: 'Raleway', sans-serif;
}

#prod_vegetables{
  background-image: url(../images/main_products/main_vegetables.jpg);
  background-position: bottom;
  background-size: cover;
  padding: 40px 35px 10px 35px;
}

#div_vegetables{
  background-color: #e6e6e6;
  opacity: 0.81;
  border-radius: 7px;
}

#prod_juices{
  background-image: url(../images/main_products/main_juices.jpg);
  background-position: bottom;
  background-size: cover;
  margin-left: -10px;
  padding: 28px 0px 0px 0px;
}

#div_juices{
  background-color: #e6e6e6;
  opacity: 0.81;
  border-radius: 7px;
}

#prod_household{
  background-image: url(../images/main_products/main_household.jpg);
  background-position: bottom;
  background-size: cover;
  margin-left: -28px;
  padding: 50px 35px 6px 35px;
}

#div_household{
  background-color: #e6e6e6;
  opacity: 0.81;
  border-radius: 7px;
}

#prod_fruits{
  background-image: url(../images/main_products/main_fruits.jpg);
  background-position: bottom;
  background-size: cover;
  padding: 40px 63px 10px 63px;
}

#div_fruits{
  background-color: #e6e6e6;
  opacity: 0.81;
  border-radius: 7px;
}

#prod_snacks{
  background-image: url(../images/main_products/main_snacks.jpg);
  background-position: bottom;
  background-size: cover;
  margin-left: -5px;
  padding: 25px 15px 2px 15px;
}

#div_snacks{
  background-color: #e6e6e6;
  opacity: 0.81;
  border-radius: 7px;
}

#prod_self{
  background-image: url(../images/main_products/main_self.jpg);
  background-position:center;
  background-size: cover;
  margin-left: -25px;
  padding: 48px 40px 8px 45px;
}

#div_self{
  background-color: #e6e6e6;
  opacity: 0.81;
  border-radius: 7px;
}

#prod_alcohol{
  background-image: url(../images/main_products/main_alcohol.jpg);
  background-position: center;
  background-size: cover;
  padding: 40px 54px 10px 55px;
}

#div_alcohol{
  background-color: #e6e6e6;
  opacity: 0.81;
  border-radius: 7px;
}

#prod_frozen{
  background-image: url(../images/main_products/main_frozen.jpg);
  background-position: bottom;
  background-size: cover;
  margin-left: -10px;
  padding: 40px 37px 10px 37px;
}

#div_frozen{
  background-color: #e6e6e6;
  opacity: 0.81;
  border-radius: 7px;
}

#prod_coffee{
  background-image: url(../images/main_products/main_coffee.jpg);
  background-position: center;
  background-size: cover;
  margin-left: -30px;
  padding: 40px 34px 10px 34px;
}

#div_coffee{
  background-color: #e6e6e6;
  opacity: 0.81;
  border-radius: 7px;
}

#prod_dairy{
  background-image: url(../images/main_products/main_dairy.jpg);
  background-position: bottom;
  background-size: cover;
  padding: 25px 14px 2px 14px;
}

#div_dairy{
  background-color: #e6e6e6;
  opacity: 0.81;
  border-radius: 7px;
}

#prod_breakfast{
  background-image: url(../images/main_products/main_breakfast.jpg);
  background-position: bottom;
  background-size: cover;
  margin-left: -8px;
  padding: 28px 11px 0px 11px;
}

#div_breakfast{
  background-color: #e6e6e6;
  opacity: 0.81;
  border-radius: 7px;
}

#prod_sweets{
  background-image: url(../images/main_products/main_sweets.jpg);
  background-position: bottom;
  background-size: cover;
  margin-left: -29px;
  padding: 28px 32px 0px 32px;
}

#div_sweets{
  background-color: #e6e6e6;
  opacity: 0.81;
  border-radius: 7px;
}

#prod_dry_fruits{
  background-image: url(../images/main_products/main_dry_fruits.jpg);
  background-position: bottom;
  background-size: cover;
  padding: 40px 42px 10px 42px;
}

#div_dry_fruits{
  background-color: #e6e6e6;
  opacity: 0.81;
  border-radius: 7px;
}

#prod_everyday{
  background-image: url(../images/main_products/main_everyday.jpg);
  background-position: bottom;
  background-size: cover;
  margin-left: -9px;
  padding: 28px 7px 0px 7px;
}

#div_everyday{
  background-color: #e6e6e6;
  opacity: 0.81;
  border-radius: 7px;
}

#prod_sauces{
  background-image: url(../images/main_products/main_sauces.jpg);
  background-position: bottom;
  background-size: cover;
  margin-left: -27px;
  padding: 28px 8px 0px 8px;
}

#div_sauces{
  background-color: #e6e6e6;
  opacity: 0.81;
  border-radius: 7px;
}

#prod_ready{
  background-image: url(../images/main_products/main_ready.jpg);
  background-position: bottom;
  background-size: cover;
  padding: 40px 22px 10px 22px;
}

#div_ready{
  background-color: #e6e6e6;
  opacity: 0.81;
  border-radius: 7px;
}

#prod_fresh{
  background-image: url(../images/main_products/main_fresh.jpg);
  background-position: bottom;
  background-size: cover;
  margin-left: -14px;
  padding: 40px 0px 10px 0px;
}

#div_fresh{
  background-color: #e6e6e6;
  opacity: 0.81;
  border-radius: 7px;
}

#prod_meat{
  background-image: url(../images/main_products/main_meat.jpg);
  background-position: bottom;
  background-size: cover;
  margin-left: -30px;
  padding: 28px 20px 0px 20px;
}

#div_meat{
  background-color: #e6e6e6;
  opacity: 0.81;
  border-radius: 7px;
}

#prod_pet{
  background-image: url(../images/main_products/main_pet.jpg);
  background-position: bottom;
  background-size: cover;
  padding: 40px 47px 10px 47px;
}

#div_pet{
  background-color: #e6e6e6;
  opacity: 0.81;
  border-radius: 7px;
}

#prod_vegan{
  background-image: url(../images/main_products/main_vegan.jpg);
  background-position: center;
  background-size: cover;
  margin-left: -14px;
  padding: 40px 26px 10px 26px;
}

#div_vegan{
  background-color: #e6e6e6;
  opacity: 0.81;
  border-radius: 7px;
}

#prod_baby{
  background-image: url(../images/main_products/main_baby.jpg);
  background-position: bottom;
  background-size: cover;
  margin-left: -33px;
  padding: 48px 38px 8px 38px;
}

#div_baby{
  background-color: #e6e6e6;
  opacity: 0.81;
  border-radius: 7px;
}
