body{
  background-image: url(../images/fern.jpg);
  background-size: 420px 800px;
  background-repeat: no-repeat;
  background-color: #e6e6e6
}

form{
  margin-left: 555px;
  text-align: left;
  margin-top: 150px;
  font-family: 'Source Code Pro', monospace;
}

h1{
  font-size: 40px;
  font-family: 'Playfair Display', serif;
  text-decoration: underline;
  margin-left: 210px;

}

label{
  font-size: 18px;
}

input{
  height: 19px;
  width: 200px;
  font-size:15px;
}

#label_fname{
margin-right: 45px;

}

#input_fname{
  margin-right: 100px;
}

#input_lname{
  margin-left: 79px;
}

#label_email{

  margin-right: 89px;

}

#input_email{
  margin-right: 100px;
}

#input_dob{
  margin-left: 35px;
}

#label_mobno{
  margin-right: 14px;
}


#label_add1{
  margin-right: 4px;
}

#input_add1{
  margin-right: 100px;
}

#input_add2{
  margin-left: 23px;
}

#input_home{
  margin-left: -80px;
}

#input_office{
  margin-right: 1px;
}

#input_permanent{
  margin-left: 1px;
}

#label_pcode{
  margin-right: 37px;
}

#input_pcode{
  margin-right: 100px;
}

#input_city{
  margin-left: 130px;
}

#label_pswrd{
  margin-right: 69px;
}

#input_pswrd{
  margin-right: 100px;
}

button{
  font-size: 17px;
  background-color: #99ccff;
  font-weight: bold;
  border-radius: 5px;
  padding: 4px 7px 3px 7px;
  border-width: thin;
  display: inline-block;
  margin-left: 365px;

}

button:hover{
  transition: 0.6s;
  background-color: #4da6ff;
  box-shadow: 3px 3px grey;
}
