body{
  background-image: url(../images/vegetable1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin-left: auto;
  margin-right: auto;
}

#email_login{
  margin-top: 10.625rem;
  text-align: center;

}

#input_email{
  margin-left: 1.25rem;
  height: 1.188rem;
  width: 15rem;
  font-size:0.938rem;
}

#input_password{

  height: 1.188rem;
  width: 15rem;
  font-size:0.938rem;
}

h1{
  font-family: 'Inter Tight', sans-serif;
  margin-left: 4.375rem;
  font-size: 2.5rem;
}

#label_email{
    font-size: 1.25rem;

}

#label_password{
  font-size: 1.25rem;
  margin-right: 0.625rem;
  margin-left: 8.438rem;
}

#back_to_index{
  font-size: 0.875rem;
  margin-right: 10rem;
  font-weight: bold;
  background-color: #00ff99;
  border-radius: 1.25rem;
  padding: 0.25rem 0.438rem 0.188rem 0.438rem;
  font-family: 'Josefin Sans', sans-serif;
  border-width: thin;
  display: inline-block;
}

#back_to_index:hover{
  background-color: #00cc7a;
}

#confirm_email_and_password{
  font-size: 0.875rem;
  font-weight: bold;
  background-color: #00ff99;
  border-radius: 1.25rem;
  padding: 0.25rem 0.438rem 0.188rem 0.438rem;
  font-family: 'Josefin Sans', sans-serif;
  border-width: thin;
  display: inline-block;
}

#confirm_email_and_password:hover{
    background-color: #00cc7a;
}

#not_a_user{
  font-size: 1.25rem;
  font-style: bolder;
  font-weight: bolder;
}

#dont_remember_pswrd{
  margin-left: 1.875rem;
}
