.elite_membership{
  background: radial-gradient(circle, rgba(76,156,251,1) 0%, rgba(252,70,107,0.8690826672465861) 92%);
  border-radius: 1.3rem;
  width: 77vw;
  height: 55vh;
}

#premium_heading_main{
  font-size: 2.6vw;
  text-align: center;
  font-family: 'Playfair Display', serif;
}

#premium_heading_secondary{
  font-size: 2.1vw;
  text-align: center;
  text-decoration: underline;
  font-family: 'Playfair Display', serif;
}

#membership_txt{
  font-size: 1.51vw;
  font-family: 'Poppins', sans-serif;
}
