body{
  background-color: #e6e6e6
}

#search-top{
  font-size: 19px;
  margin-top: -8px;
  width: 1536px;
  height: 47px;
  background: linear-gradient(to left, #800080, #ffc0cb);
  margin-left: -8px;
  font-family: 'Playfair Display', serif;
}

#span_search{
  margin-right: 80px;
  margin-left: 80px;
  font-size: 30px;
  font-weight: bolder;
  color: red;
  text-shadow: 1px 2px #008000;
}

#GROMAK_logo{
  margin-left: 65px;
  color: black;
  text-decoration: none;
}

#elite_club{
  color: black;
  text-decoration: none;
}

#main_search{
  margin-left: 20px;
  height: 19px;
  width: 230px;
  font-size:16px;
  border-radius: 4px;
}

#collapsible_options{
  margin-left: 1335px;
  margin-top: -43px;
  transition: .64s;
  background: linear-gradient(to left, #f0ddf0 5%, #ab63ab 100%);
  overflow: hidden;
  text-align: center;
  border-radius: 15px;
  height: 612px;
  font-size: 22px;
  font-family: 'Alkalami', serif;
  width: 0;
  position: absolute;
  z-index: +1;
}

#option{
  color: black;
  text-decoration: none;
  font-style: italic;
}

#option:hover{
text-shadow: 5px 5px 8px #b300b3;
}

#collapsible_sidebar{
  margin-left: 1150px;
  margin-top: -32px;
  transition: .64s;
}

#collapsible_button{
  font-size: 19px;
  border-radius: 9px;
  margin-left: 130px;
  margin-top: -7px;
  box-shadow: 0px 10px 14px -7px #822d82;
	background: linear-gradient(to bottom, #f0ddf0 5%, #ab63ab 100%);
	background-color: #f0ddf0;
	display: inline-block;
	cursor: pointer;
	color: black;
	font-family: 'Source Sans Pro', sans-serif;
	padding: 6px 11px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #a679ad;
}

#collapsible_button:hover{
  background:linear-gradient(to bottom, #ab63ab 5%, #f0ddf0 100%);
	background-color:#ab63ab;
}

#collapsible_button:active{
  position:relative;
	top:1px;
}

#cross_button{
  margin-left: 155px;
  font-size: 30px;
  text-decoration: none;
  color: black;
  font-weight: bolder;
}

hr{
  height: 2px;
  background-color: black;
}

.offers{
  /*overflow: hidden;*/
}

.sliding_offers{
    position: relative;
    width: 15%;
    float: left;
    /*animation: 30s sliding_offers infinite;*/
}

#offers_fruits{
  background-image: url(../images/sliding_fruits.jpg);
  background-size: cover;
  width: 700px;
  height: 375px;
  padding: 165px 100px;
  font-size: 41px;
  margin-top: 40px;
  margin-left: 40px;
  border-radius: 10px;
}

#fruits_text{
  margin-top: 130px;
  width: 520px;
  height: 50px;
  background: rgba(106,204,82,0.35);
  color: black;
  border-radius: 15px;
  font-family: 'Dancing Script', cursive;
}

#offers_baby{
  background-image: url(../images/sliding_baby.jpg);
  background-size: cover;
  width: 700px;
  height: 375px;
  padding: 165px 100px;
  font-size: 41px;
  margin-left: 560px;
  margin-top: 40px;
  border-radius: 10px;
}

#baby_text{
  margin-top: 100px;
  width: 495px;
  height: 90px;
  background: rgba(231,199,179,0.68);
  color: black;
  border-radius: 15px;
  font-family: 'Dancing Script', cursive;
}

#offers_cola{
  background-image: url(../images/sliding_cola.jpg);
  background-size: cover;
  width: 700px;
  height: 375px;
  padding: 165px 100px;
  font-size: 41px;
  margin-top: 40px;
  margin-left: 1100px;
  border-radius: 10px;
}

#cola_text{
  margin-top: 100px;
  margin-left: -15px;
  width: 520px;
  height: 90px;
  background: rgba(228,220,220,0.54);
  color: black;
  border-radius: 15px;
  padding: 0px 10px;
  font-family: 'Dancing Script', cursive;
}

#offers_club{
  background-image: url(../images/sliding_elite.jpg);
  background-size: cover;
  width: 700px;
  height: 375px;
  padding: 165px 100px;
  font-size: 41px;
  margin-top: 40px;
  margin-left: 1623px;
  border-radius: 10px;
}

#club_text{
  margin-top: 100px;
  margin-left: -58px;
  width: 590px;
  height: 90px;
  background: rgba(180,136,94,0.6);
  color: black;
  border-radius: 15px;
  padding: 0px 10px;
  font-family: 'Dancing Script', cursive;
}

#offers_info{
  background-image: url(../images/sliding_logo.png);
  background-size: 380px 373px;
  background-repeat: no-repeat;
  width: 700px;
  height: 375px;
  padding: 165px 100px;
  font-size: 41px;
  margin-top: 40px;
  margin-left: 2175px;
  border-radius: 10px;
  background-color: #ffb3e6;
}

#info_text{
  margin-top: -30px;
  margin-left: 275px;
  width: 310px;
  height: 100px;
  color: black;
  border-radius: 15px;
  padding: 0px 10px;
  font-family: 'Dancing Script', cursive;
}

#offers_thursday{
  background-image: url(../images/sliding_thursday.jpg);
  background-size: cover;
  width: 700px;
  height: 375px;
  padding: 165px 100px;
  font-size: 41px;
  margin-top: 40px;
  margin-left: 2710px;
  border-radius: 10px;
  font-family: 'Dancing Script', cursive;
}

#thursday_text{
  margin-top: 60px;
  margin-left: -15px;
  width: 520px;
  height: 142px;
  background: rgba(228,220,220,0.55);
  color: black;
  border-radius: 15px;
  padding: 0px 10px;
}

@keyframes sliding_offers{
    0%{
        left:0;
    }
    10%{
        left:0;
    }
    20%{
        left:0;
    }
    30%{
        left:-100%;
    }
    40%{
        left:-100%;
    }
    50%{
        left:-100%;
    }
    60%{
      left:-201%;
    }
    70%{
      left:-201%;
    }
    80%{
      left:-201%;
    }
    90%{
        left:0;
    }
    100%{
        left:0;
    }
}
