.products_btn{
  width: 10rem;
  height: 12rem;
  border-color: black;
  color: black;
  background-color: #a3a3c2;
  font-family: 'Raleway', sans-serif;
  font-size: 1.145rem;
  transition: all 0.4s;
}

.products_btn:hover{
  transform: scale(1.1);
  border-color: black;
  color: black;
  background-color: #8585ad;
}

.prod_img{
  border-radius: 0.35rem;
  object-fit: cover;
  height: 70%;
  overflow: hidden;
}
