body{
  background-image: url(../images/vegetable2.jpg);
  background-repeat: no-repeat;
  background-size: 1540px 1500px;
  background-attachment: scroll;
}

#email_login{
  margin-top: 170px;
  text-align: center;
}

#input_email{
  margin-left: 20px;
  height: 19px;
  width: 240px;
  font-size:15px;
}

#input_password{

  height: 19px;
  width: 240px;
  font-size:15px;

}

h1{
  font-family: 'Inter Tight', sans-serif;
  margin-left: 70px;
  font-size: 40px;
}

#label_email{
    font-size: 20px;

}

#label_password{
  font-size: 20px;
  margin-right: 10px;
  margin-left: 135px;
}

#back_to_index{
  font-size: 14px;
  margin-right: 160px;
  font-weight: bold;
  background-color: #00ff99;
  border-radius: 20px;
  padding: 4px 7px 3px 7px;
  font-family: 'Josefin Sans', sans-serif;
  border-width: thin;
  display: inline-block;
}

#back_to_index:hover{
  background-color: #00cc7a;
}

#confirm_email_and_password{
  font-size: 14px;
  font-weight: bold;
  background-color: #00ff99;
  border-radius: 20px;
  padding: 4px 7px 3px 7px;
  font-family: 'Josefin Sans', sans-serif;
  border-width: thin;
  display: inline-block;
}

#confirm_email_and_password:hover{
    background-color: #00cc7a;
}

#not_a_user{
  font-size: 20px;
  font-style: bolder;
  font-weight: bolder;
}

#dont_remember_pswrd{
  margin-left: 30px;
}
