<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" href="/stylesheets/stylesheet_login_email.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter+Tight:wght@200&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&display=swap" rel="stylesheet">
  </head>
  <body>
    <form id="email_login" method="post" action="/continue">
      <h1>Please login with your registered email to continue</h1>
      <label id="label_email">E-mail</label> <input id="input_email" type="email"><br><br>
      <label id="label_password">Password</label> <input id="input_password" type="password"> <a id="dont_remember_pswrd" href="ENTER LINK HERE" target="_blank">Forgot password?</a><br><br>
      <button id="back_to_index" onclick="window.history.go(-1); return false;">BACK</button>
      <button id="confirm_email_and_password" type="submit">CONTINUE</button><br><br><br>
    </form>
    <div style="text-align:center;">
      <label style="display:inline-block;" for="go_to_new_account" id="not_a_user">Not a registered user?</label>
      <form action="/make_new_account" method="post" style="display:inline-block">
        <button class="go_to_new_account" style="font-size: 1.1rem;" id="confirm_email_and_password">Make a New Account</button>
      </form>
    </div>
  </body>
</html>
